@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --table-width: 100%;
    --row-height: 2rem;
    --cell-padding: 0.5rem;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
  }
}

.marker-grid {
  width: var(--table-width);
}

.marker-cell {
  height: var(--row-height);
  padding: var(--cell-padding);
}

.adaptive-cell {
  white-space: normal;
  word-break: break-word;
  min-width: 100px;
  max-width: 200px;
  text-align: center;
}